In [8]:
print("Hello Py !")

Hello Py !

Back Slash

In [9]:
print("Hi \
          Py !")

Hi           Py !

Triple Quotes

In [4]:
print("""( ͡° ͜ʖ ͡°
( ಠ ͜ʖ ಠ )
͡° ͜ʖ ͡°)  """)

'( ͡° ͜ʖ ͡°\n( ಠ ͜ʖ ಠ )\n͡° ͜ʖ ͡°)  '

In [6]:
"""( ͡° ͜ʖ ͡°
( ಠ ͜ʖ ಠ )
͡° ͜ʖ ͡°)  For Documentation"""

'( ͡° ͜ʖ ͡°\n( ಠ ͜ʖ ಠ )\n͡° ͜ʖ ͡°)  For Documentation'

In [8]:
a1 = """( ͡° ͜ʖ ͡°
( ಠ ͜ʖ ಠ )
͡° ͜ʖ ͡°)  For SQL Queries"""

String inside the quotes

In [9]:
print("Hi Py's")

Hi Py's

Escape Sequence of String

In [11]:
print("Hello \t Py!")

Hello 	 Py!

In [16]:
print("Hello \n Py")

Hello
 Py

In [12]:
print('Py\'s Code---Replaced Double Quotes')

Py's Code---Replaced Double Quotes

In [20]:
print("Hi Py Sound \a")

Hi Py Sound 

Formatted Outputs

In [31]:
name = "S7"
age = 18
power = 99.92
print("Your name is",name,"and age is",age)

Your name is S7 and age is 18

In [32]:
print ("Name is %4s, age is %2d and power is %2.3f"%(name,age,power))

Name is   S7, age is 18 and power is 99.920

In [34]:
print (f"Your name is {name} power {power} and age is {age} ")

Your name is S7 power 99.92 and age is 18

Python Variables : Variable means linking of the data to a name

In [18]:
s = 7

In [19]:
S = 7

Points to same memory on RAM

In [20]:
id(s)

140735762899536

In [15]:
id(S)

140735762899536

In [21]:
print ("To see RAM Address use id(var) and to delete del var")

To see RAM Address use id(var) and to delete del var

In [39]:
del s

In [40]:
id(s)

NameError: name 's' is not defined

# Types of Operators

Arithmetic Operators

In [42]:
7**2

49

In [43]:
7+1

8

In [44]:
7+2

9

In [45]:
7/2

3.5

In [46]:
7//2

3

remainder

In [47]:
7%2

1

Lowest Value to divided 7 by 2 FLOAR DIVISION

In [48]:
7//2

3

In [22]:
print("int/int will be float value.!")

int/int will be float value.!

In [49]:
7/2

3.5

Comparison Operator

In [57]:
a = 7
b = 0
a == b

False

In [58]:
c = 7
a == c

True

In [59]:
c <= a

True

In [60]:
a >= b

True

a = !b (Not VALID !)

In [61]:
a != b

True

Assignment Operator

In [62]:
a += b

In [63]:
a

7

In [64]:
a -= b

In [65]:
a

7

In [66]:
a = 3

In [67]:
 a **= b

In [68]:
a

1

In [106]:
7>1>10

False

It means that 7>1 and 1>10

Bitwise Operator

In [72]:
a = 7
b = 2

In [73]:
a | b

7

To get binary Value

In [74]:
bin(a)

'0b111'

In [75]:
bin(b)

'0b10'

Logical Operator

T or T = T
T or F = T
F or T = T
F or F = F

T & T = T
T & F = F
F & T = F
F & F = F

In [77]:
a = 7
b = 2
a > 2

True

In [80]:
a > 2 or 2 > 1

True

In [82]:
a > 2 and 1 > 1

False

In [84]:
S1

NameError: name 'S1' is not defined

In [85]:
7 > 2 and 20 > S1

NameError: name 'S1' is not defined

In [86]:
7 < 2 and 7 > M

False

In [87]:
not 1 < 7

False

In [88]:
not False

True

Membership Operator

In [91]:
str = "Py"
"P" in str

True

In [92]:
"S" not in str

True

Identity Operator

In [93]:
a = 7.1
b = 7.1
a == b

True

float will have different memory location

In [96]:
id(a)

2933029283152

In [97]:
id(b)

2933029282800

In [94]:
a is b

False

int range is -5 to 256 after that memory location will not be same

In [104]:
a = -6
b = -6

In [105]:
a is b

False

Operator Precedence

In [77]:
10+10/20*4

12.0

Steps

In [98]:
10/20

0.5

In [99]:
0.5*4

2.0

In [100]:
10+2.0

12.0

In [101]:
2**-1

0.5

NOTE - Exponents are solved first

# END OF DAY 2